@* The Razor component to display students *@

@page "/student"
@inject IStudentService StudentService
@inject IDepartmentService DepartmentService
@inject NavigationManager NavigationManager
<style>
    .nav-link{
        color: white;
    }
    .nav-link:hover{
        color: white;
    }
    label{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
    thead{
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 60%);
        color: white;
    }
    tr:nth-child(even){background-color: #e6e6e6}

</style>
<PageTitle>Student List</PageTitle>
<h3>Students List</h3>
@if(StudentService.students is null || DepartmentService.departments is null )
{
    <div class="spinner">

    </div>
}
else
{
    <label for="deptFilter">Department</label>
                    <select id="deptFilter" @bind="selectedDeptId" >
                        <option value="0">All Departments</option>
                        @foreach(var department in DepartmentService.departments)
                        {
                            <option value="@department.DeptId">@department.DeptName</option>
                        }
                    </select>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Student Id
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Department
                </th>
                <th>
                    Total Mark
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(var stud in StudentService.students)
            {
                @if(selectedDeptId==0||(stud.Department!=null && stud.Department.DeptId==selectedDeptId)){
                <tr>
                    <td>
                        @stud.Id
                    </td>
                    <td>
                        @stud.Name
                    </td>
                    <td>
                        @stud.Department?.DeptName
                    </td>
                    <td>
                        @stud.TotalMark
                    </td>
                    <td>
                        <a class="nav-link btn btn-primary" href="update/@stud.Id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                    </td>
                    <td>
                        <a class="nav-link btn btn-danger" href="delete/@stud.Id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }}
        </tbody>
    </table>
}

@code {
    int selectedDeptId=0;
   
    protected override async Task OnInitializedAsync(){
      await StudentService.GetStudents();
      await DepartmentService.GetDepartments();
      
    }
   
}

